<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Our Studio!</div>
      <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
      <a pageScroll class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>
  </div>
</header>
