<!-- Contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Contact Us</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row">
      {{ngForm.submitted}}
      <div class="col-lg-12">
        <form [formGroup]="contactForm" #ngForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" formControlName="name" type="text" placeholder="Your Name *" required="required">
                <div *ngIf="name.errors?.required && ngForm.submitted" class="help-block text-danger">
                  <ul><li>Please enter your name.</li></ul>
                </div>
              </div>
              <div class="form-group">
                <input class="form-control" formControlName="email" type="email" placeholder="Your Email *" required="required">
                <div *ngIf="email.errors?.required && ngForm.submitted" class="help-block text-danger">
                  <ul><li>Please enter your email address.</li></ul>
                </div>
              </div>
              <div class="form-group">
                <input class="form-control" formControlName="phone" type="tel" placeholder="Your Phone *" required="required">
                <div *ngIf="phone.errors?.required && ngForm.submitted" class="help-block text-danger">
                  <ul><li>Please enter your phone number.</li></ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" formControlName="message" placeholder="Your Message *" required="required"></textarea>
                <div *ngIf="message.errors?.required && ngForm.submitted" class="help-block text-danger">
                  <ul><li>Please enter a message.</li></ul>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button class="btn btn-primary btn-xl text-uppercase"
                type="submit">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
