<app-navigation-menu></app-navigation-menu>
<app-header></app-header>
<app-services></app-services>
<app-portfolio></app-portfolio>
<app-about></app-about>
<app-team></app-team>
<app-clients></app-clients>
<app-contact></app-contact>
<app-footer></app-footer>
