<!-- Navigation -->
<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top"
  [ngClass]="{'navbar-shrink': navigationPinned}"
  #mainNav
  id="mainNav">
  <div ngbDropdown class="container">
    <a pageScroll class="navbar-brand" (click)="updateHash()" href="#page-top">Start Bootstrap</a>
    <button ngbDropdownToggle class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div ngbDropdownMenu class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a pageScroll #services
            class="nav-link"
            [ngClass]="{'active': isActive(services)}"
            (click)="updateHash($event)"
            href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a pageScroll #portfolio
            class="nav-link"
            [ngClass]="{'active': isActive(portfolio)}"
            (click)="updateHash($event)"
            href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a pageScroll #about
            class="nav-link"
            [ngClass]="{'active': isActive(about)}"
            (click)="updateHash($event)"
            href="#about">About</a>
        </li>
        <li class="nav-item">
          <a pageScroll #team
          class="nav-link"
          [ngClass]="{'active': isActive(team)}"
          (click)="updateHash($event)"
          href="#team">Team</a>
        </li>
        <li class="nav-item">
          <a pageScroll #contact
          class="nav-link"
          [ngClass]="{'active': isActive(contact)}"
          (click)="updateHash($event)"
          href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
